name: Build and Push Docker Image

on:
  push:
    branches:
      - production
  pull_request:
    branches:
      - production

env:
  DOCKER_USERNAME: ankitkj199
  IMAGE_NAME: aicourse

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha,prefix={{branch}}-
          type=raw,value=latest,enable={{is_default_branch}}

    - name: Build and push Docker image
      id: build-push
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        build-args: |
          NPM_CONFIG_FETCH_TIMEOUT=600000
          NPM_CONFIG_FETCH_RETRY_MAXTIMEOUT=120000
          NPM_CONFIG_FETCH_RETRY_MINTIMEOUT=20000

    - name: Generate artifact attestation
      if: github.event_name == 'push' && github.ref == 'refs/heads/production'
      uses: actions/attest-build-provenance@v1
      with:
        subject-name: ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME}}
        subject-digest: ${{ steps.build-push.outputs.digest }}
        push-to-registry: true